/* background: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */


html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: black;
    color: #ededed;
}
.about_content #name{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
background: rgb(140,243,249);
background: linear-gradient(90deg, rgba(140,243,249,1) 5%, rgba(210,151,250,1) 26%, rgba(181,250,179,1) 49%, rgba(181,250,179,1) 93%);
background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 50px;
letter-spacing: 2.9px;
word-spacing: 0.2px;
font-weight: 1900;
}
.about_content span h5{
    background: rgb(140,243,249);
    background: linear-gradient(90deg, rgba(140,243,249,1) 21%, rgba(210,151,250,1) 50%, rgba(181,250,179,1) 75%, rgba(255,189,202,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 44px;
    font-weight: 600;
    margin-top: 25px;
}
header{
    position: fixed;
    width: 100%;
    background: black;
    z-index: 100;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul a{
    position: relative;
    text-decoration: none;
    color: #ededed;
    font-weight: 500;
    border-radius: 2px;
    padding: 10px;
    font-size: 18px;
    transition: .5s;
    overflow: hidden;
}
.logo{
    width: 70px;
    height: 70px;
    padding: 5px;
}
nav li{
    display: inline-block;
    margin: 0 5px;
    justify-content: space-around;
    margin-top: 5px;
}
nav ul a::before{
    border-radius: 20px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .3s;
}
nav ul a:hover::before{
    width: 100%;
}
   
.menu-line{
    height: 3px;
    width: 20px;
    background-color: #ededed;
    margin-bottom: 3px;
}
.menu{
    cursor: pointer;
    display: none;
}

@media all and (max-width:720px){
    .logo{
        position: relative;
        bottom: 8px;
        padding: 3px;
    }
    nav{
        flex-direction: column;
    }
    nav li{
        display: block;
        padding: 10px 0;
        background: none;

    }
    nav ul{
        text-align: center;
        padding: 0;
        display: none;
    }
    .logo{
        align-self: flex-start;
        margin: 10px 0px 0px 30px;
    }
    .menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 30px;
    }
    .showmenu{
        display: block;
    }
}
.about{
    padding-top: 100px;
    display: flex;
    align-items: center;
    padding-left: 5%;    
}    

.about_content{
    max-width: 700px;
}


.about_content h1{
    font-size: 40px;
    font-weight: 700;
}

.about_content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    line-height: .5;
}

.about_content p{
    font-size: 16px;
    /* margin: 20px 0 40px; */
    text-align: justify;
    padding: 20px;
    padding-top: -20px;
}

.btn a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    position: relative;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn .res_btn{
    background: transparent;
    color: #00abf0;
}

.btn .res_btn::before{
    background: #00abf0;
}

.btn .res_btn:hover{
    color: #081b29;
}

.btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .3s;
}

.btn a:hover::before{
    width: 100%;
}
.skills{
    padding-top: 50px;
}
.skills h3{
    padding-left: 5%;
}
.skills-cont{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.skills-cont div{
    background-color: #ededed;
    height: 170px;
    width: 170px;
    border-radius: 50px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    transition: .5s;
    overflow: hidden;
    z-index: 1;
}
.skill-icon i{
    font-size: 50px;
    color: #081b29;
    line-height: 2;
}
.skills-cont div p{
    color: #081b29;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.skills-cont div::before{
    border-radius: 50px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: #00abf0;
    z-index: -1;
    transition: .3s;
}

.skills-cont div:hover::before{
    height: 100%;
}
.skills-cont div:hover{
    box-shadow: 0 4px 8px 0 #ededed, 0 6px 20px 0 #ededed;
}
@media all and (max-width:750px){
    .skills-cont{
        grid-template-columns: repeat(2, 1fr);
    }
    .skills-cont div{
        height: 140px;
        width: 140px;
        border-radius: 30px;
    }
    .skill-icon i{
        font-size: 40px;
    }
    .skills-cont div p{
        font-size: 15px;
    }
    .skills-cont div::before{
        border-radius: 30px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background: #00abf0;
        z-index: -1;
        transition: .3s;
    }
}
.skill-icon i:nth-child(1){
    font-weight: 1000;
}

.certifications{
    padding-top: 60px;
    margin-left: 5%;
}
.certifications p{
    width: 90%;
    padding-left: 10px;
    text-align: justify;
    font-size: 16px;
}
.slider-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.slider{
    margin-right: 5%;
    max-width: 48rem;
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #ededed, 0 6px 20px 0 #ededed;
    transition: .5s;
}
.slider:hover{
    box-shadow: 0 4px 8px 0 #00abf0, 0 6px 20px 0 #00abf0;
}
.slider {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.slider::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    border-radius: 20px;
}
.slider-nav a{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
.btn .crt_btn:hover{
    color: #00abf0;
}

.projects{
    padding-left: 5%;
    padding-top: 50px;
}
.project-mobile-view{
    display: block;
    padding-right: 20px;
}
.project-container {
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 #ededed, 0 0 0px 0 #ededed;
}
.project-container:hover{
    box-shadow: 0 4px 8px 0 #00abf0, 0 6px 20px 0 #00abf0;
}
.project-header {
    background-color: #00abf0;
    padding: 10px;
    cursor: pointer;
}
.project-content {
    background: #ededed;
    color: #081b29;
    max-height: 0;
    opacity: 0;
    padding: 0px 15px 0px 15px;
    text-align: justify;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}
.project-content.active {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

footer{
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
footer div{
    width: 100%;
}

footer .contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .contact div{
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ededed;
}
.contact a{
    text-decoration: none;
    color: #ededed;
}
footer .contact i{
    font-size: 30px;
    float: right;
    align-self:right;
}
footer .contact p{
    margin-left: 10px;
}

footer .links{
    display: contents;
    align-items: center;
    font-size: 40px;
}

footer .links i{
    height: 37px;
    text-decoration: none;
    padding: 0;
    color: #ededed;
}
footer .links i:hover{
    box-shadow: 0 4px 8px 0 #00abf0, 0 6px 20px 0 #00abf0;
}
@media all and (max-width:750px){
    footer .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    footer .links i{
        box-shadow: 0 4px 8px 0 #00abf0, 0 6px 20px 0 #00abf0;
    }
    footer .links i:hover{
        content: none;
    }
}